<li>
    <a>Restoranlar</a>
    <ul>
        <li><a asp-page="/Restoranlar/Index">Liste</a></li>
        <li><a asp-page="/Restoranlar/YeniEkle">Yeni Ekle</a></li>
    </ul>
</li>
<li>
    <a>Menüler</a>
    <ul>
        <li><a asp-page="/Menüler/Index">Liste</a></li>
        <li><a asp-page="/Menüler/YeniEkle">Yeni Ekle</a></li>
        <li>
            <a>Menü Kategoriler</a>
            <ul>
                <li><a asp-page="/Kategoriler/MenülerKategorilerListe">Liste</a></li>
                <li><a asp-page="/Kategoriler/YeniMenüKategoriEkle">Yeni Ekle</a></li>
                <li><a asp-page="/Kategoriler/MenüKategoriDeğiştir">Değiştir</a></li>
            </ul>
        </li>
    </ul>
</li>
<li>
    <a>Kuponlar</a>
    <ul>
        <li><a asp-page="/Kuponlar/Index">Liste</a></li>
        <li><a asp-page="/Kuponlar/YeniEkle">Yeni Ekle</a></li>
    </ul>
</li>
<li>
    <a>Siparişler</a>
    <ul>
        <li><a asp-page="/Siparişler/Index">Liste</a></li>
    </ul>
</li>
<li>
    <a>Kullanıcılar</a>
    <ul>
        <li class="active"><a asp-page="/SistemGüvenlik/Index">Liste</a></li>
        <li><a asp-page="/SistemGüvenlik/YeniKullanıcı">Yeni Ekle</a></li>
        <li><a asp-page="/SistemGüvenlik/KullanıcıDeğiştir">Değiştir</a></li>
        <li><a asp-page="/SistemGüvenlik/KullanıcıKaldır">Kaldır</a></li>
        <li><a asp-page="/SistemGüvenlik/YeniŞifre">Yeni Şifre</a></li>
        <li><a asp-page="/SistemGüvenlik/Raporlar">Raporlar</a></li>
    </ul>
</li>
<li>
    <a href="/Bildirimmler/Gönder">Bildirim Gönder</a>
</li>
<li>
    <a>Canlı Yardım</a>
    <ul>
        <li><a asp-page="/CanlıYardım/Index">Liste</a></li>
        <li><a asp-page="/CanlıYardım/Yardımİsteğiniİşle">Yardım İsteğini İşle</a></li>
    </ul>
</li>
