<li>
    <a>Siparişler</a>
    <ul>
        <li><a asp-page="/Siparişler/Index">Liste</a></li>
        <li><a asp-page="/Siparişler/RestoranYeniSiparişler">Yeni Siparişler Liste</a></li>
    </ul>
</li>
<li>
    <a href="/Restoranlar/HizmetlerAktifDeaktifEt">Hizmetler Aktif/Deaktif Et</a>
</li>
<li>
    <a href="/Restoranlar/MüşterilerYorumlar">Müşteriler Yorumlar</a>
</li>
<li>
    <a>Kullanıcılar</a>
    <ul>
        <li class="active"><a asp-page="/SistemGüvenlik/Index">Liste</a></li>
        <li><a asp-page="/SistemGüvenlik/YeniKullanıcı">Yeni Ekle</a></li>
        <li><a asp-page="/SistemGüvenlik/KullanıcıDeğiştir">Değiştir</a></li>
        <li><a asp-page="/SistemGüvenlik/KullanıcıKaldır">Kaldır</a></li>
        <li><a asp-page="/SistemGüvenlik/YeniŞifre">Yeni Şifre</a></li>
        <li><a asp-page="/SistemGüvenlik/Raporlar">Raporlar</a></li>
    </ul>
</li>
<li>
    <a>Canlı Yardım</a>
    <ul>
        <li><a asp-page="/CanlıYardım/Index">Liste</a></li>
        <li><a asp-page="/CanlıYardım/Yardımİsteyin">Yardım İsteyin</a></li>
    </ul>
</li>
<li>
    <a href="/Bildirimler/Liste">Alındı Bildirimler<label>@Yardımcılar.HazırlaWebYardımcı.ŞimdikiKullanıcıBildirimlerAdet</label></a>
</li>
<li>
    <a href="/SistemGüvenlik/Çıkış">Çıkış</a>
</li>