<li class="treeview">
    <a href="#">
        <i class="fa fa-tags"></i> <span>Yemek Kategoriler</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="active"><a asp-page="/YemekKategoriler/Index"><i class="fa fa-circle-o"></i> Liste</a></li>
        <li><a asp-page="/YemekKategoriler/YeniEkle"><i class="fa fa-circle-o"></i> Yeni Ekle</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-glass"></i> <span>İçecek Kategoriler</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="active"><a asp-page="/İçecekKategoriler/Index"><i class="fa fa-circle-o"></i> Liste</a></li>
        <li><a asp-page="/İçecekKategoriler/YeniEkle"><i class="fa fa-circle-o"></i> Yeni Ekle</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-spoon"></i><i class="fa fa-glass"></i> <span>Restoranlar</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="active"><a asp-page="/Restoranlar/Index"><i class="fa fa-circle-o"></i> Liste</a></li>
        <li><a asp-page="/Restoranlar/YeniEkle"><i class="fa fa-circle-o"></i> Yeni Ekle</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-list"></i> <span>Menüler</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="active"><a asp-page="/Menüler/Index"><i class="fa fa-circle-o"></i> Liste</a></li>
        <li><a asp-page="/Menüler/YeniEkle"><i class="fa fa-circle-o"></i> Yeni Ekle</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-flag"></i> <span>Siparişler</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="active"><a asp-page="/Siparişler/Index"><i class="fa fa-circle-o"></i> Liste</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-users"></i> <span>Kullanıcılar</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="active"><a asp-page="/SistemGüvenlik/Index"><i class="fa fa-circle-o"></i> Liste</a></li>
        <li><a asp-page="/SistemGüvenlik/YeniKullanıcı"><i class="fa fa-circle-o"></i> Yeni Kullanıcı</a></li>
        <li><a asp-page="/SistemGüvenlik/KullanıcıDeğiştir"><i class="fa fa-circle-o"></i> Kullanıcı Değiştir</a></li>
        <li><a asp-page="/SistemGüvenlik/YeniŞifre"><i class="fa fa-circle-o"></i> Yeni Şifre</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-flag"></i> <span>Canlı Yardım</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="active"><a asp-page="/CanlıYardım/Index"><i class="fa fa-circle-o"></i> Liste</a></li>
        <li><a asp-page="/CanlıYardım/Yardımİsteğiniİşle"><i class="fa fa-circle-o"></i> Yardım İsteğini İşle</a></li>
    </ul>
</li>
