<li class="treeview">
    <a href="#">
        <i class="fa fa-tags"></i> <span>Yemek Kategoriler</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="active"><a asp-page="/YemekKategoriler/Index"><i class="fa fa-circle-o"></i> Liste</a></li>
        <li><a asp-page="/YemekKategoriler/YeniEkle"><i class="fa fa-circle-o"></i> Yeni Ekle</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-glass"></i> <span>İçecek Kategoriler</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="active"><a asp-page="/İçecekKategoriler/Index"><i class="fa fa-circle-o"></i> Liste</a></li>
        <li><a asp-page="/İçecekKategoriler/YeniEkle"><i class="fa fa-circle-o"></i> Yeni Ekle</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-list"></i> <span>Menüler</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="active"><a asp-page="/Menüler/Index"><i class="fa fa-circle-o"></i> Liste</a></li>
        <li><a asp-page="/Menüler/YeniEkle"><i class="fa fa-circle-o"></i> Yeni Ekle</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-flag"></i> <span>Siparişler</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="active"><a asp-page="/Siparişler/Index"><i class="fa fa-circle-o"></i> Liste</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-flag"></i> <span>Canlı Yardım</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="active"><a asp-page="/CanlıYardım/Index"><i class="fa fa-circle-o"></i> Liste</a></li>
        <li><a asp-page="/CanlıYardım/Yardımİsteyin"><i class="fa fa-circle-o"></i> Yardım İsteyin</a></li>
    </ul>
</li>
