<li class="treeview">
    <a href="#">
        <i class="fa fa-spoon"></i><i class="fa fa-glass"></i> <span>Restoranlar</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="active"><a asp-page="/Restoranlar/Index"><i class="fa fa-circle-o"></i> Liste</a></li>
        <li><a asp-page="/Restoranlar/Raporlar"><i class="fa fa-circle-o"></i> Raporlar</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-list"></i> <span>Menüler</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="active"><a asp-page="/Menüler/Index"><i class="fa fa-circle-o"></i> Liste</a></li>
        <li><a asp-page="/Menüler/YeniEkle"><i class="fa fa-circle-o"></i> Yeni Ekle</a></li>
        <li><a asp-page="/Menüler/Raporlar"><i class="fa fa-circle-o"></i> Raporlar</a></li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-circle-o"></i> Menü Kategoriler
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="active"><a asp-page="/Kategoriler/MenülerKategorilerListe"><i class="fa fa-circle-o"></i> Liste</a></li>
                <li><a asp-page="/Kategoriler/YeniMenüKategoriEkle"><i class="fa fa-circle-o"></i> Yeni Ekle</a></li>
                <li><a asp-page="/Kategoriler/MenüKategoriDeğiştir"><i class="fa fa-circle-o"></i> Değiştir</a></li>
                <li><a asp-page="/Kategoriler/Kategoriler/MenülerKategorilerRaporlar"><i class="fa fa-circle-o"></i> Raporlar</a></li>
            </ul>
        </li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-flag"></i> <span>Siparişler</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="active"><a asp-page="/Siparişler/Index"><i class="fa fa-circle-o"></i> Liste</a></li>
        <li><a asp-page="/Siparişler/RestoranYeniSiparişler"><i class="fa fa-circle-o"></i> Yeni Siparişler Liste</a></li>
        <li><a asp-page="/Siparişler/ÖncekiSiparişler"><i class="fa fa-circle-o"></i> Önceki Siparişler</a></li>
        <li><a asp-page="/Siparişler/Raporlar"><i class="fa fa-circle-o"></i> Raporlar</a></li>
    </ul>
</li>
<li>
    <a href="/Restoranlar/HizmetlerAktifDeaktifEt">
        <i class="fa fa-th"></i> <span>Hizmetler Aktif/Deaktif Et</span>
    </a>
</li>
<li>
    <a href="/Restoranlar/MüşterilerYorumlar">
        <i class="fa fa-th"></i> <span>Müşteriler Yorumlar</span>
    </a>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-users"></i> <span>Kullanıcılar</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="active"><a asp-page="/SistemGüvenlik/Index"><i class="fa fa-circle-o"></i> Liste</a></li>
        <li><a asp-page="/SistemGüvenlik/YeniKullanıcı"><i class="fa fa-circle-o"></i> Yeni Kullanıcı</a></li>
        <li><a asp-page="/SistemGüvenlik/KullanıcıDeğiştir"><i class="fa fa-circle-o"></i> Kullanıcı Değiştir</a></li>
        <li><a asp-page="/SistemGüvenlik/KullanıcıKaldır"><i class="fa fa-circle-o"></i> Kullanıcı Kaldır</a></li>
        <li><a asp-page="/SistemGüvenlik/YeniŞifre"><i class="fa fa-circle-o"></i> Yeni Şifre</a></li>
        <li><a asp-page="/SistemGüvenlik/Raporlar"><i class="fa fa-circle-o"></i> Raporlar</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-flag"></i> <span>Canlı Yardım</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="active"><a asp-page="/CanlıYardım/Index"><i class="fa fa-circle-o"></i> Liste</a></li>
        <li><a asp-page="/CanlıYardım/Yardımİsteyin"><i class="fa fa-circle-o"></i> Yardım İsteyin</a></li>
        <li><a asp-page="/CanlıYardım/Raporlar"><i class="fa fa-circle-o"></i> Raporlar</a></li>
    </ul>
</li>