@page
@model BisiparişWeb.Pages.JustForTestModel
@{
    ViewData["Title"] = "JustForTest";
}

<h2>Just For Test</h2>


<script src="~/lib/jquery/dist/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    document.onload(function () {
        alert("Page loaded");
    });
</script>

