@page
@model BisiparişWeb.Pages.Kategoriler.YeniMenüKategoriEkleModel
@{
    ViewData["Title"] = "Yeni Menü Kategori Ekle";
}

<h3><span style="font-weight:bold;text-decoration:underline">Yeni Menü Ekle</span></h3>

<div class="col-lg-10">
    <form id="kategoriForm" role="form" method="post" data-ajax="true" data-ajax-method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="hidden" id="rootDir" asp-for="KökDizin" />
            <input type="hidden" id="kategorilerEkledi" asp-for="YeniKategoriler" />
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3">
                        <label>Restoran</label>
                        <select id="rstrnListe" class="form-control" asp-for="RestoranSeçildi" asp-items="Model.KlncRestoranlar">
                        </select>
                        <span asp-validation-for="RestoranSeçildi"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <label>Ad</label>
                    <input type="text" id="kategoriAd" asp-for="Kategori.Ad" class="form-control" onblur="kategoriAdKontrolEt()"
                           placeholder="Yazınız ...">
                    <span asp-validation-for="Kategori.Ad"></span>
                </div>
                <div id="menüAdZatenVarDiv" style="display:none;">
                    <label style="color:red">Bu menü kategori ad zaten var!</label>
                </div>
                <div class="col-xs-4">
                    <label>Alt Kategori Ad</label>
                    <input type="text" id="altKategoriAd" class="form-control" onblur="altKatAdKontrolEt()"
                           placeholder="Yazınız ...">
                </div>
                <div id="menüAdZatenVarDiv" style="display:none;">
                    <label style="color:red">Bu alt menü kategori ad zaten var!</label>
                </div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-block bg-navy" onclick="kategoriEkle()">Ekle</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-7">
                    <table id="kategorilerListe" width="100%"></table>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <button type="submit" class="btn btn-primary">Kaydet</button>
                <div class="col-xs-3">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="col-xs-8">
                    @Html.Raw(Model.KaydetmekSonuç)
                </div>
            </div>
        </div>
    </form>
</div>

<script src="~/lib/jquery/core.js"></script>
<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>

@section Scripts {
    <script type="text/javascript">
        var şimdikiKatId = "-1";

        $(function () {
            try {

            } catch (e) {
                alert(e.message);
            }
        });

        function kategoriAdKontrolEt() {
            try {
                $("#adSoyadZatenVarDiv").css('display', 'none');

                if (!$("#adSoyAd").val()) {
                    return;
                }

                var adSoyadEnc = $("#adSoyAd").val().replace(" ", "||");

                var requestUrl = $("#rootDir").val() + "/Kullanıcılar/AdSoyAdKontrolEt/" + adSoyadEnc;

                //alert(requestUrl);

                $.ajax({
                    url: requestUrl,
                    cache: false,
                    type: 'GET',
                    //data: { ilId: ilIdJson },
                    async: true
                }).
                    done(function (r) {
                        try {
                            //alert("Done"); alert(r);

                            if (r != null && r) {
                                //This name already exists
                                $("#adSoyadZatenVarDiv").css('display', 'block');
                            }
                        } catch (e) {
                            alert("Done error");
                        }
                    }).
                    fail(function (err) {
                        alert('Fail Error: ' + err.message);
                    });
            } catch (e) {
                alert("Main function error");
            }
        };

        function kategoriEkle() {
            try {
                if (!$("#kategoriAd").val()) {
                    return;
                }

                var katAd = $("#kategoriAd").val(); var altKatAd = $("#altKategoriAd").val();

                if (şimdikiKatId == "-1") {

                    var strId = Math.random().toString().substr(2);

                    $("#kategorilerListe").append("<tr><td id=\"" + strId + "\">" + katAd + "</td><td>" + altKatAd +
                        "</td><td><a href=\"javascript:kategoriAl(" + strId + ")\"><i class=\"fa-pencil\"></i></td></tr>");
                } else {
                    kategoriDeğiştir();
                }

                $("#kategorilerEkledi").val($("#kategorilerListe").html());

                şimdikiKatId = "-1";
            } catch (e) {
                alert("Main function error");
            }
        };

        function kategoriAl(birStrId) {
            try {
                şimdikiKatId = birStrId;

                alert(birStrId);

                var katListe = $("#kategorilerListe").html();

                alert(katListe);

                var strBulundu = katListe.indexOf("<td id=\"" + birStrId + "\"");
                //var katMetinStr = katListe.substr(strBulundu);
                var katGerçenMetinBaş = katListe.substr(strBulundu + 4).indexOf(">");
                var katGerçenMetinBit = katListe.substr(katGerçenMetinBaş + 1).indexOf("</td>");
                var katGerçenMetin = katListe.substr(strBulundu, strBulundu - katGerçenMetinBaş - katGerçenMetinBit);

                alert(katGerçenMetin);

                $("#kategoriAd").val(katGerçenMetin);

                var altKatYer = strBulundu + katGerçenMetinBaş + katGerçenMetinBit;
                var altKatGerçenMetinBaş = katListe.substr(altKatYer).indexOf("<td>");
                var altKatGerçenMetinBit = katListe.substr(altKatGerçenMetinBaş + 1).indexOf("</td>");
                var altKatGerçenMetin = katListe.substr(alk + 4, altKatYer - altKatGerçenMetinBaş - altKatGerçenMetinBit);

                alert(altKatGerçenMetin);

                $("#altKategoriAd").val(altKatGerçenMetin);
                //alert($(this).val());
            } catch (e) {
                alert(e.message);
            }
        }

        function kategoriDeğiştir() {
            try {
                var birStrId = şimdikiKatId;

                alert(birStrId);

                var katAd = $("#kategoriAd").val(); var altKatAd = $("#altKategoriAd").val();
                var katListe = $("#kategorilerListe").html();

                alert(katListe);

                var strBulundu = katListe.indexOf("<td id=\"" + birStrId + "\"");
                var katMetinStr = katListe.substr(strBulundu);
                var katGerçenMetinBaş = katListe.substr(strBulundu + 4).indexOf(">");
                var katGerçenMetinBit = katListe.substr(katGerçenMetinBaş + 1).indexOf("</td>");
                var katGerçenMetin = katListe.substr(strBulundu, strBulundu - katGerçenMetinBaş - katGerçenMetinBit);

                alert(altKatGerçenMetin);

                katMetinStr.replace(katGerçenMetin, katAd);

                var altKatYer = strBulundu + katGerçenMetinBaş + katGerçenMetinBit;
                var altKatGerçenMetinBaş = katListe.substr(altKatYer).indexOf("<td>");
                var altKatGerçenMetinBit = katListe.substr(altKatGerçenMetinBaş + 1).indexOf("</td>");
                var altKatGerçenMetin = katListe.substr(alk + 4, altKatYer - altKatGerçenMetinBaş - altKatGerçenMetinBit);

                if (altKatAd.length > 0 || altKatGerçenMetin.length > 0) {
                    katMetinStr.replace(altKatGerçenMetin, altKatAd);
                }
                //alert($(this).val());
            } catch (e) {
                alert(e.message);
            }
        }

        //$("#kategoriForm").submit(function () {
        //    try {
        //        $("#kategorilerEkledi").val($("#kategorilerListe").html());
        //    } catch (e) {

        //    }
        //});
    </script>
}
