@page
@model BisiparişWeb.Pages.Siparişler.IndexModel
@{
    ViewData["Title"] = "Siparişler Liste";
}

<h2>Siparişler Liste</h2>

<div>
    <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a asp-page="/pagination" asp-route-currentpage="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>

