@page
@model HazırlaWebArkaUç.Pages.JustForTestModel
@{
    ViewData["Title"] = "JustForTest";
}

<h2>Just For Test</h2>

<form role="form" method="post" data-ajax="true" data-ajax-method="post"
      data-ajax-success="kaydetBaşarılı" data-ajax-failure="kaydetBaşarısız"
      enctype="multipart/form-data">
    <div class="row">
        <label>Row 1</label>
    </div>
    <div class="row">
        <label>Row 2</label>
    </div>
    <div class="row">
        <label>Row 3</label>
    </div>
    <div class="row">
        <label>Row 4</label>
    </div>
    <div class="row">
        <label>Row 5</label>
    </div>
    <div class="row">
        <label>Row 6</label>
    </div>
    <div class="row">
        <label>Row 7</label>
    </div>
    <div class="row">
        <label>Row 8</label>
    </div>
    <div class="row">
        <label>Row 9</label>
    </div>
    <div class="row">
        <label>Row 10</label>
    </div>
    <div class="row">
        <label>Row 11</label>
    </div>
    <div class="row">
        <label>Row 12</label>
    </div>
    <div class="row">
        <label>Row 13</label>
    </div>
    <div class="row">
        <label>Row 14</label>
    </div>
    <div class="row">
        <label>Row 15</label>
    </div>
    <div class="row">
        <label>Row 16</label>
    </div>
    <div class="row">
        <label>Row 17</label>
    </div>
    <div class="row">
        <label>Row 18</label>
    </div>
    <div class="row">
        <label>Row 19</label>
    </div>
    <div class="row">
        <label>Row 20</label>
    </div>
    <div class="row">
        <input type="text" asp-for="ExampleInput" />
    </div>
    <button id="saveBtn" type="button" class="btn btn-primary">Test</button>
    <div>@Model.ForExample</div>
    <div class="row">
        <div>@Model.ProcessResult</div>
    </div>
</form>


<script src="~/lib/jquery/dist/jquery-3.4.1.min.js"></script>
<script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>

@section Scripts {

    <script type="text/javascript">
        //document.onload(function () {
        //    alert("Page loaded");
        //});

        $(function () {
            try {
                alert("Yes. Page was loaded");

                $("#saveBtn").click(function () {
                    $.ajax({
                        url: "http://localhost:47074/JustForTest",
                        cache: false,
                        type: 'POST',
                        async: true
                    })
                        .done(function (r) {
                            try {
                                alert("Done"); alert(r);
                            } catch (e) {
                                alert("Done error");
                            }
                        })
                        .fail(function (err) {
                            alert('Fail Error: ' + err.message);
                        });
                });
            } catch (e) {
                alert("Something is wrong");
            }
        });
    </script>
}
