@page
@model WebAppForTest.Pages.ForTestModel
@{
    ViewData["Title"] = "ForTest";
}

<h1>ForTest</h1>

<form role="form" method="post">
    <input type="hidden" id="hiddenExample" asp-for="FromClient" />
    <label id="testLbl"></label>
    <button onclick="checkThis()">Try</button>

    <select>
        <option style="color:aqua"></option>
    </select>

    <button type="submit" class="btn btn-primary">Test</button>
</form>

<script src="~/lib/jquery/core.js"></script>
<script src="~/lib/jquery/jquery.js"></script>

@section Scripts {
    <script type="text/javascript">
        function checkThis() {
            var tm = Date.now;

            $("#testLbl").text(tm);
            $("#hiddenExample").text($("#hiddenExample").val() + " | " + tm);
        }
    </script>
}


