@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

Root Dir: @Html.Raw(Model.RootDirectory)

<img src="~/img/Example.jpg" width="100" height="100" />

<input type="hidden" id="rootDir" asp-for="RootDirectory" />
<div id="testDiv" />

<div>
    <select>
        @*@foreach (var item in Model.OpItems)
        {
            <option><div><input type="checkbox" value="@item.Value" />@item.Text</div></option>
        }*@
    </select>
</div>

<script src="~/lib/jquery/core.js"></script>
<script src="~/lib/jquery/jquery.js"></script>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            try {
                //alert($("#rootDir").val())

                var requestUrl = "http://" + $("#rootDir").val() + "/TestLab/AnotherOperation";

                //alert(requestUrl);

                $.ajax({
                    url: requestUrl,
                    cache: false,
                    type: 'GET',
                    async: true
                }).
                    done(function (r) {
                        try {
                            //alert("Done"); alert(r);

                            $('#testDiv').text(r);
                        } catch (e) {
                            alert("Done error");
                        }
                    }).
                    fail(function (err) {
                        alert('Fail Error: ' + err.message);
                    });
            }
            catch (e) {
                alert("Main function error");
            }
        });
    </script>
}
