@page
@model HazırlaWebArkaUç.Pages.Restoranlar.YeniEkleModel
@{
    ViewData["Title"] = "Yeni Restoran Ekle";
}

<style>
    .myscrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
        overflow-y: auto;
    }
</style>

<h3><span style="font-weight:bold;text-decoration:underline">Yeni Restoran Ekle</span></h3>

<div class="col-lg-12">

    <!-- /.box-header -->
    <form id="rstrnForm" role="form" method="post" data-ajax="true" data-ajax-method="post"
          data-ajax-success="kaydetBaşarılı" data-ajax-failure="kaydetBaşarısız"
          enctype="multipart/form-data">
        <!-- text input -->
        <div class="form-group">
            <input type="hidden" id="rootDir" asp-for="KökDizin" />
            <input type="hidden" id="kdtSnç" asp-for="KaydetmekSonuç" />
            <input type="hidden" id="rstrHizmetler" asp-for="MevcutHizmetler" />
            <input type="hidden" id="rstrMutfaklar" asp-for="MevcutMutfaklar" />
            <input type="hidden" id="rstrÇlşmZmnlar" asp-for="RstrnÇalışmaZamanlamalar" />
            <input type="hidden" id="semtMhlId" asp-for="SeçilmişSemtVeMahId" />
            <input type="hidden" id="rstrnKrdtlr" asp-for="RstrnKoordiantlar" />
            <div class="row">
                <div class="col-lg-5">
                    <label>Restoran İsim</label>
                    <input type="text" asp-for="Restoran.İsim" class="form-control" placeholder="Yazınız ...">
                    <span asp-validation-for="Restoran.İsim"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-3">
                    <label>Tür</label>
                    <select class="form-control" asp-for="SeçilmişTürId" asp-items="Model.RestoranTürlar"></select>
                    <span asp-validation-for="SeçilmişTürId"></span>
                </div>
                <div class="col-lg-4">
                    <label>Hizmetler</label>
                    <div class="btn-group">
                        <button type="button" class="btn bg-white dropdown-toggle" data-toggle="dropdown">
                            (Birden fazla seçenek seçebilirsiniz)
                        </button>
                        <ul class="dropdown-menu myscrollable-menu" role="menu">
                            @Html.Raw(Model.RestoranOlasıHizmetler)
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <label>Mutfaklar</label>
                    <div class="btn-group">
                        <button type="button" class="btn bg-white dropdown-toggle" data-toggle="dropdown">
                            (Birden fazla seçenek seçebilirsiniz)
                        </button>
                        <ul class="dropdown-menu myscrollable-menu" role="menu">
                            @Html.Raw(Model.RestoranOlasıMutfaklar)
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Çalışma Zamanlama</label>
            <div id="çlşZmnŞbk"></div>

        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-4">
                    <label>Telefonlar (her biri ayrı satırda)</label>
                    <textarea asp-for="RestoranTelefonlar" rows="5" class="form-control" placeholder="Yazınız ...">
                        </textarea>
                </div>
                <div class="col-lg-4">
                    <label>Epostalar (her biri ayrı satırda)</label>
                    <textarea asp-for="RestoranEpostalar" rows="5" class="form-control" placeholder="Yazınız ...">
                        </textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label>Website</label>
                    <input type="text" asp-for="Restoran.İletişim.WebsiteAdres" class="form-control" placeholder="Yazınız ...">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label>Facebook</label>
                    <input type="text" asp-for="Restoran.İletişim.FacebookHesap" class="form-control" placeholder="Yazınız ...">
                </div>
                <div class="col-lg-4">
                    <label>Twitter</label>
                    <input type="text" asp-for="Restoran.İletişim.TwitterkHesap" class="form-control" placeholder="Yazınız ...">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label>Instagram</label>
                    <input type="text" asp-for="Restoran.İletişim.İnstagramHesap" class="form-control" placeholder="Yazınız ...">
                </div>
                <div class="col-lg-4">
                    <label>YouTube</label>
                    <input type="text" asp-for="Restoran.İletişim.YouTubeHesap" class="form-control" placeholder="Yazınız ...">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label style="text-decoration:underline">Restoran Adres</label>
            <div class="row">
                <div class="col-lg-3">
                    <label>İl</label>
                    <select id="ilListe" asp-for="SeçilmişİlId" asp-items="Model.İller"></select>
                    <span asp-validation-for="SeçilmişİlId"></span>
                </div>
                <div class="col-lg-3">
                    <label>İlçe</label>
                    <select id="ilçeListe" asp-for="SeçilmişİlçeId"></select>
                    <span asp-validation-for="SeçilmişİlçeId"></span>
                </div>
                <div class="col-lg-5">
                    <label>Semt &amp; Mah.</label>
                    <div class="btn-group">
                        <button type="button" class="btn bg-white dropdown-toggle" data-toggle="dropdown">
                            (Semt &amp; Mahalle seçiniz)
                        </button>
                        <ul id="semtMahalleListe" class="dropdown-menu myscrollable-menu" role="menu">
                        </ul>
                    </div>
                    <span asp-validation-for="SeçilmişSemtVeMahId"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <label>Cadde/Sokak</label>
                    <input type="text" asp-for="Restoran.İletişim.Adres.CaddeSokakAdı" class="form-control" placeholder="Yazınız ...">
                </div>
                <div class="col-lg-2">
                    <label>Bina numara</label>
                    <input type="text" asp-for="Restoran.İletişim.Adres.BinaNumerası" class="form-control" placeholder="Yazınız ...">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <label>Google Maps Adres</label>
                    <input id="haritaUrl" type="text" asp-for="Restoran.İletişim.Adres.GoogleMapsUrl" class="form-control"
                           placeholder="Yazınız ...">
                </div>
                <div class="col-lg-3">
                    <button type="button" onclick="gösterGoogleMap()">Haritası Göster</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div id="restoranKonumHarita" style="width:100%;height:400px;display:none;"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label style="text-decoration:underline">Banka Bilgi</label>
            <div class="row">
                <div class="col-lg-5">
                    <label>Banka Hesabı IBAN</label>
                    <input type="text" asp-for="Restoran.BankaHesabıIban" class="form-control" placeholder="Yazınız ...">
                </div>
                <div class="col-lg-5">
                    <label>Banka Hesabı Sahibi</label>
                    <input type="text" asp-for="Restoran.BankaHesabıSahibi" class="form-control" placeholder="Yazınız ...">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-4">
                    <label>Restoran Resimler</label>
                    <input type="file" multiple asp-for="ResimDosyalar" class="form-control">
                </div>
            </div>
            <div class="row">
                <table>
                    <tr id="resimSıra"></tr>
                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="row" style="font-weight:bold; background-color:yellow">
                Not: Menü eklemek için, önce veri kaydediniz, ardından "Menüler" seçeneğine gidiniz.
            </div>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="box-footer">
            <div class="row">
                <button id="kaydetBtn" type="submit" class="btn btn-primary">Kaydet</button>
                <div class="col-xs-3">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div id="kdtSnçDiv" class="col-lg-8">
                    @Html.Raw(Model.KaydetmekSonuç)
                </div>
            </div>
        </div>
    </form>
    <!-- /.box-body -->
</div>

<script src="~/lib/jquery/core.js"></script>
<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
<script src="~/lib/jsgrid/jsgrid.js"></script>
<script src="~/lib/jsgrid/jsgrid.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjFg01i5wMyWobSSdGo_merQiEO6Kcfp8"></script>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            try {
                //alert("Loaded"); alert($("#sncİşlemKod").val());

                $('#kaydetBtn').keydown(function (event) {
                    alert("Checking for Enter...");

                    if (event.keyCode == 13) {
                        event.preventDefault();
                        return false;
                    }
                });

                $(".fa-spin").hide();

                $("#çlşZmnŞbk").jsGrid({
                    height: "100%",
                    width: "100%",
                    filtering: false,
                    editing: true,
                    inserting: true,
                    sorting: false,
                    paging: false,
                    autoload: true,
                    pageSize: 10,
                    pageButtonCount: 5,
                    deleteConfirm: "Emin misiniz?",
                    controller: { hafta },
                    fields: [
                        { name: "Gün", type: "select", items: hafta.günler, valueField: "id", textField: "ad", width: 40 },
                        { name: "Saaten", type: "text", width: 25 },
                        { name: "Saata", type: "text", width: 25 },
                        { type: "control" }
                    ]
                });

                kullanıcıGeoLocation();

                $("#ilListe").change(function () {
                    try {
                        var ilIdJson = $("#ilListe").val();

                        //alert(ilPlakaJson);

                        $("#ilçeListe").empty();

                        var requestUrl = $("#rootDir").val() + "/OrtakKısmi/İlİlçelerAl/" + ilIdJson;

                        //alert(requestUrl);

                        $.ajax({
                            url: requestUrl,
                            cache: false,
                            type: 'GET',
                            data: { ilId: ilIdJson },
                            async: true
                        }).
                            done(function (r) {
                                try {
                                    //alert("Done"); alert(r);

                                    $.each(r, function (idx, vl) {
                                        //alert(vl);
                                        $('#ilçeListe').append(vl);
                                    });
                                } catch (e) {
                                    alert("Done error");
                                }
                            }).
                            fail(function (err) {
                                alert('Fail Error: ' + err.message);
                            });
                    } catch (e) {
                        alert("Main function error");
                    }
                });

                $("#ilçeListe").change(function () {
                    try {
                        var ilIdJson = $("#ilListe").val(); var ilçeIdJson = $("#ilçeListe").val();

                        //alert(ilçeIdJson);

                        $("#semtMahalleListe").empty();

                        //var requestUrl = $("#rootDir").val() + "/OrtakKısmi/İlçeSemtlerAl/" + ilçeIdJson;
                        var requestUrl = $("#rootDir").val() + "/OrtakKısmi/İlçeSemtlerVeMahallelerAl/" + ilçeIdJson;

                        //alert(requestUrl);

                        $.ajax({
                            url: requestUrl,
                            cache: false,
                            type: 'GET',
                            data: { ilçeId: ilçeIdJson },
                            async: true
                        }).
                            done(function (r) {
                                try {
                                    //alert("Done"); alert(r);

                                    $.each(r, function (idx, vl) {
                                        //alert(vl);
                                        $('#semtMahalleListe').append(vl);
                                    });
                                } catch (e) {
                                    alert("Done error");
                                }
                            }).
                            fail(function (err) {
                                alert('Fail Error: ' + err.message);
                            });
                    } catch (e) {
                        alert("Main function error");
                    }
                });

                $("#semtListe").change(function () {
                    try {
                        //var ilIdJson = $("#ilListe").val(); var ilçeIdJson = $("#ilçeListe").val();
                        var semtIdJson = $("#semtListe").val();

                        //alert(semtIdJson);

                        $("#mahalleListe").empty();

                        var requestUrl = $("#rootDir").val() + "/OrtakKısmi/SemtMahallelerAl/" + semtIdJson;

                        //alert(requestUrl);

                        $.ajax({
                            url: requestUrl,
                            cache: false,
                            type: 'GET',
                            data: { semtId: semtIdJson },
                            async: true
                        }).
                            done(function (r) {
                                try {
                                    //alert("Done"); alert(r);

                                    $.each(r, function (idx, vl) {
                                        //alert(vl);
                                        $('#mahalleListe').append(vl);
                                    });
                                } catch (e) {
                                    alert("Done error");
                                }
                            }).
                            fail(function (err) {
                                alert('Fail Error: ' + err.message);
                            });
                    } catch (e) {
                        alert("Main function error");
                    }
                });

                $("#ResimDosyalar").change(function () {
                    try {
                        //alert("Into change");

                        var rsmDsylr = $("#ResimDosyalar")[0].files;

                        //alert("Found: " + rsmDsylr.length);

                        $("#resimSıra").empty();

                        for (var i = 0; i < rsmDsylr.length; i++) {
                            if (rsmDsylr[i].size > (50 * 1024)) {
                                alert("Her resim dosya boyutu en fazla 50KB olmalıdır!");
                            }

                            var reader = new FileReader();
                            reader.readAsDataURL(rsmDsylr[i]);
                            reader.onloadend = function () {
                                var kçkRsm = document.createElement("img");
                                kçkRsm.width = 40; kçkRsm.height = 40; kçkRsm.style = "border:1px ;margin-top:10px; margin-left:10px;";
                                kçkRsm.src = this.result;

                                var tdElm = document.createElement("td"); tdElm.appendChild(kçkRsm);

                                $("#resimSıra").append(tdElm);
                            };
                        }
                    } catch (e) {
                        alert("Upload change error");
                    }
                });
            } catch (e) {
                alert(e.message);
            }
        });

        (function () {
            var hafta = {
                loadData: function (filter) {
                    return $.grep(this.günler, function (gün) {
                        return (!filter.ad || gün.ad.indexOf(filter.ad) > -1)
                    });
                },

                insertItem: function (insertingGün) {
                    if (!this.günler.includes(g => g.ad == insertingGün.ad))
                        this.günler.push(insertingGün);
                },

                updateItem: function (updatingGün) { },

                deleteItem: function (deletingGün) {
                    var günIndex = $.inArray(deletingGün, this.günler);
                    this.günler.splice(günIndex, 1);
                }

            };

            window.hafta = hafta;

            hafta.günler = [
                { ad: "", id: -1 },
                { ad: "Pazartesi", id: 1 },
                { ad: "Salı", id: 2 },
                { ad: "Çarşamba", id: 3 },
                { ad: "Perşembe", id: 4 },
                { ad: "Cuma", id: 5 },
                { ad: "Cumartesi", id: 6 },
                { ad: "Pazar", id: 0 },
            ];
        }());

        function semtMhlSeçildi(v) {
            try {
                //alert(v);
                $("#semtMhlId").val(v);
            } catch (e) {
                alert(e.message);
            }
        };

        function hizmetSeçildi(v, strV) {
            try {
                //alert("Hizmet checkbox");

                var isChecked = $('input:checkbox[name=' + strV + 'Chk]').is(':checked');

                //alert(v); alert($("#rstrHizmetler").val());// alert("Int Val: " + hizmetDeğer);

                //alert(BigInt(chkbx.val()));
                var hizmetDeğer = BigInt(v); var seçildiHizmetler = BigInt($("#rstrHizmetler").val());

                //alert("Int Val: " + hizmetDeğer); alert("Int Val: " + seçildiHizmetler);

                if (isChecked) {
                    $("#rstrHizmetler").val(seçildiHizmetler | hizmetDeğer);
                }
                else {
                    $("#rstrHizmetler").val(seçildiHizmetler | ~hizmetDeğer);
                }
            } catch (e) {
                alert(e.message);
            }
        };

        function mutfakSeçildi(v, strV) {
            try {
                //alert("Mutfak checkbox checked");

                var isChecked = $('input:checkbox[name=' + strV + 'Chk]').is(':checked');

                //alert(v); alert($("#rstrMutfaklar").val());// alert("Int Val: " + hizmetDeğer);

                //alert(BigInt(chkbx.val()));
                var mtfkDeğer = BigInt(v); var seçildiMutfaklar = BigInt($("#rstrMutfaklar").val());

                //alert("Int Val: " + hizmetDeğer); alert("Int Val: " + seçildiHizmetler);

                if (isChecked) {
                    $("#rstrMutfaklar").val(seçildiMutfaklar | mtfkDeğer);
                }
                else {
                    $("#rstrMutfaklar").val(seçildiMutfaklar | ~mtfkDeğer);
                }
            } catch (e) {
                alert(e.message);
            }
        };

        function kullanıcıGeoLocation() {
            try {
                //alert("Trying to get geo loc...");

                var mapOptions = {
                    center: new google.maps.LatLng(41.0055005, 28.7319867), //İstanbul
                    zoom: 10,
                    minZoom: 10,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                var map = new google.maps.Map(document.getElementById('restoranKonumHarita'), {
                    center: { lat: -34.397, lng: 150.644 },
                    zoom: 6
                });

                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };

                        map.setCenter(pos); $("#restoranKonumHarita").show();

                        //alert("Geo loc OK");
                    }, function (posErr) {
                        alert("Error while getting geo loc: " + posErr.message);
                        map.setOptions(mapOptions);
                        //Istanbul coord: 41.0055005,28.7319867
                    });
                } else {
                    alert("Browser doesn't support Geolocation");
                    map.setOptions(mapOptions);
                    //Istanbul coord: 41.0055005,28.7319867
                }
            } catch (e) {

            }
        };

        function gösterGoogleMap() {
            try {

                var theMapUrl = $("#haritaUrl").val();
                var requestUrl = $("#rootDir").val() + "/GoogleMaps/KoordinatlarAl?url=" + theMapUrl;
                //var requestUrl = $("#rootDir").val() + "/GoogleMaps/Example";//+ theMapUrl;

                //alert("Calling: " + requestUrl);

                $.ajax({
                    url: requestUrl,
                    cache: false,
                    type: 'GET',
                    //data: { 'url': theMapUrl },
                    async: true
                }).
                    done(function (r) {
                        try {
                            //alert("Done"); alert(r); alert(r[0]); alert(r[1]);

                            //var koords = r.split(","); alert(koords[0]); alert(koords[1]);

                            displayMap(r[0], r[1]);
                        } catch (e) {
                            alert("Done error");
                        }
                    }).
                    fail(function (err) {
                        alert('Fail Error: ' + err.message);
                    });

            } catch (e) {

            }
        };

        function displayMap(lat, lng) {
            try {
                //alert("Into Display...");

                //Set the Latitude and Longitude of the Map
                var myAddress = new google.maps.LatLng(lat, lng);

                //Create Options or set different Characteristics of Google Map
                var mapOptions = {
                    center: myAddress,
                    zoom: 15,
                    minZoom: 15,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                //alert("Getting map...");

                //Display the Google map in the div control with the defined Options
                var map = new google.maps.Map(document.getElementById("restoranKonumHarita"), mapOptions);

                //Set Marker on the Map
                var marker = new google.maps.Marker({
                    position: myAddress,
                    animation: google.maps.Animation.BOUNCE,
                });

                //alert("Setting map...");

                marker.setMap(map); $("#restoranKonumHarita").show();

                var krdtlr = map.LatLng.lat.toString() + "," + map.LatLng.lng.toString();

                $("#rstrnKrdtlr").val(krdtlr);
            } catch (e) {
                alert('Display Error: ' + e.message);
            }
        };

        $("#rstrnForm").submit(function () {
            try {
                //alert("Handler for .submit() called.");

                çalışmaZamanlarKoleksiyonaKoy();

                //$("#kaydetBtn").attr("disabled", "disabled");
                $("#kaydetBtn").prop('disabled', true);
                $(".fa-spin").show();

                //event.preventDefault();
            } catch (e) {
                alert(e.message);
            }
        });

        function çalışmaZamanlarKoleksiyonaKoy() {
            try {
                alert("Collecting..."); alert($("input:checkbox[name=pzrtGün]").is(':checked'));

                $("#rstrÇlşmZmnlar").val(JSON.stringify(
                    [
                        {
                            "HaftaGün": 1,
                            "Saatten": $("#pzrtStn").val(), "Saate": $("#pzrtSte").val(),
                            "HaftaGünSeçildi": $("input:checkbox[name='pzrtGün']").is(':checked')
                        },
                        {
                            "HaftaGün": 2,
                            "Saatten": $("#salStn").val(), "Saate": $("#salSte").val(),
                            "HaftaGünSeçildi": $("input:checkbox[name='salGün']").is(':checked')
                        },
                        {
                            "HaftaGün": 3,
                            "Saatten": $("#çrşStn").val(), "Saate": $("#çrşSte").val(),
                            "HaftaGünSeçildi": $("input:checkbox[name='çrşGün']").is(':checked')
                        },
                        {
                            "HaftaGün": 4,
                            "Saatten": $("#prşStn").val(), "Saate": $("#pzrtSte").val(),
                            "HaftaGünSeçildi": $("input:checkbox[name='prşGün']").is(':checked')
                        },
                        {
                            "HaftaGün": 5,
                            "Saatten": $("#pzrtStn").val(), "Saate": $("#prşSte").val(),
                            "HaftaGünSeçildi": $("input:checkbox[name='pzrtGün']").is(':checked')
                        },
                        {
                            "HaftaGün": 6,
                            "Saatten": $("#cumStn").val(), "Saate": $("#cumSte").val(),
                            "HaftaGünSeçildi": $("input:checkbox[name='cumGün']").is(':checked')
                        },
                        {
                            "HaftaGün": 0,
                            "Saatten": $("#cmrtStn").val(), "Saate": $("#cmrtSte").val(),
                            "HaftaGünSeçildi": $("input:checkbox[name='cmrtGün']").is(':checked')
                        }
                    ]));

                //alert($("#rstrÇlşmZmnlar").val());
            } catch (e) {
                alert(e.message);
            }
        };

        kaydetBaşarılı = function () {
            try {
                alert("Submit succeeded"); alert($("#kdtSnç").val());

                $("#kdtSnçDiv").html($("#kdtSnç").val());//"<label style='color:green'>Başarıyla kaydedildi.</label>");

                $("#kaydetBtn").prop('disabled', false);
                $(".fa-spin").hide();
            } catch (e) {

            }
        };

        kaydetBaşarısız = function () {
            try {
                alert("Submit failed");

                $("#kdtSnçDiv").html("<label style='color:red'>Pardon! Problem var.</label>");

                $("#kaydetBtn").prop('disabled', false);
                $(".fa-spin").hide();
            } catch (e) {

            }
        };
    </script>
}