@page
@model BisiparişWeb.Pages.Menüler.YeniEkleModel
@{
    ViewData["Title"] = "Yeni Menü Ekle";
}

<h3><span style="font-weight:bold;text-decoration:underline">Yeni Menü Ekle</span></h3>

<div class="col-lg-10">
    <form role="form" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-3">
                    <label>Restoran</label>
                    <select class="form-control" asp-for="RestoranId" asp-items="Model.Restoranlar"></select>
                    <span asp-validation-for="RestoranId"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-4">
                    <label>Menü Ad</label>
                    <input type="text" asp-for="MenüAd" class="form-control" placeholder="Yazınız ...">
                    <span asp-validation-for="MenüAd"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4">
                            <label>Menü Kategori</label>
                            <select class="form-control" asp-for="KategoriId" asp-items="Model.Kategoriler"></select>
                            <span asp-validation-for="KategoriId"></span>
                        </div>
                        <div class="col-xs-4">
                            <label>Menü Alt-Kategori</label>
                            <select class="form-control" asp-for="AltKategoriId"></select>
                            <span asp-validation-for="AltKategoriId"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4">
                            <label>Menü Öğe Ad</label>
                            <input type="text" id="menüÖğeAd" class="form-control" placeholder="Yazınız ...">
                        </div>
                        <div class="col-xs-5">
                            <label>Öğe Tür</label>
                            <input type="radio" id="içkYmkRadio1" name="içkYmkRadio" value="içecek" class="minimal"
                                   placeholder="Yazınız ...">İcecek
                            <input type="radio" id="içkYmkRadio2" name="içkYmkRadio" value="yemek" class="minimal"
                                   placeholder="Yazınız ...">Yemek
                        </div>
                        <div class="col-xs-2">
                            <label>Öğe Fiyat</label>
                            <input type="text" id="menüÖğeFiyat" class="form-control" placeholder="Yazınız ...">
                        </div>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-block bg-navy" onclick="birÖğeEkle()">Öğe Ekle</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-9">
                        <label>Menü Öğeler</label>
                        <ul id="menüÖğelerListe" class="form-control"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <button type="submit" class="btn btn-primary">Kaydetme</button>
                <div class="col-xs-8">
                    @Html.Raw(Model.KaydetmekSonuç)
                </div>
            </div>
        </div>
    </form>
</div>

<script src="~/lib/jquery/core.js"></script>
<script src="~/lib/jquery/jquery.js"></script>

@section Scripts {
    <script type="text/javascript">
        function birÖğeEkle() {
            //alert("Clicked");

            //alert($("#menüÖğeAd").val() + " " + $("#içecekRadio").prop("checked") + " " + $("#yemekRadio").prop("checked") +
            //    $("#menüÖğeFiyat").val());

            var ymkİçk = $("input[name='içkYmkRadio']:checked").val() == "içecek" ? "İÇK" : "YK";
            var yeniÖğe = "<li> [" + ymkİçk + "] " + $("#menüÖğeAd").val() + " | TR" + $("#menüÖğeFiyat").val() + "</li>";
            $("#menüÖğelerListe").append(yeniÖğe)
        }
    </script>
}